html {
  box-sizing: border-box;
  font-family: helvetica, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.player {
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 15vw;
  background-color: rgba(0,0,0,0.05);
}

.player-details{
  padding-bottom: 5px;
}

.player-name{
  white-space: nowrap;
}

.player-avatar > img {
  min-width: 95%
  min-height: 10vh;
  width: calc(100% - 4px);
}


@media (max-width: 600px) {
  .player {
    width: 100vw;
  }
  .player-details{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .player-details > * {
    margin: 0 0.5em;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .player {
    width: 45vw;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .player {
    width: 30vw;
  }
}
